{% extends "templates/base.j2" %}

{% block extra_css %}
    <link rel="stylesheet" href="./static/css/phb_photos_animation.css">
{% endblock %}

{% block content %}
<header id="header">
    
    <div class="phb-photos">
        <div class="phb-photos-carousel">
        </div>
    </div>

    <div class="header-text">
        <h1>Python Nordeste 2027</h1>
        <h3>📍 Parnaíba, Piauí</h3>
        <p>Em breve mais informações</p>
    </div>

</header>
{% endblock %}

{% block extra_js %}
    <script src="./static/js/phb_photos_animation.js"></script>
{% endblock %}